/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* splash screen animation */
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
  animation-duration: 200ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@keyframes change-bg-color {
  0% { background-color: #f79209; }
  30% { background-color: #feca4b; }
  60% { background-color: #7c5ff5; }
  100% { background-color: #6f41ea; }
}

.animate-bg {
  animation: change-bg-color 5s infinite;
}