:root{
    --standalone-top-padding: 2rem;
    --standalone-bottom-padding: 1.8rem;
}

html,
body {
	overscroll-behavior-y: none;
	/* scroll-behavior: smooth; */
}

main {
	-webkit-tap-highlight-color: transparent;
}

@media screen and (display-mode: standalone) {
    .vtd-datepicker {
      padding-top: var(--top-padding-default) !important;
    }

    .standalone-top-padding{
        padding-top: var(--standalone-top-padding) !important;
    }

    .standalone-bottom-padding{
        padding-bottom: var(--standalone-bottom-padding) !important;
    }
}