:root{
    --standalone-top-padding: 2rem;
    --standalone-bottom-padding: 1.8rem;
}

html,
body {
	overscroll-behavior-y: none;
	/* scroll-behavior: smooth; */
}

main {
	-webkit-tap-highlight-color: transparent;
}

@media screen and (display-mode: standalone) {
    .standalone-top-padding{
        padding-top: env(safe-area-inset-top) !important;
    }

    .standalone-bottom-padding{
        padding-bottom: env(safe-area-inset-bottom) !important;
    }
}