:root:root{
    --van-base-font: 'ithra', sans-serif;
    --van-cell-background: inherit;
    --van-cell-group-background: inherit;
    --van-background-2: inherit;
    --van-font-size-sm: 1rem;
    --van-font-size-md: 1.2rem;
}
