@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ithra;
  src: url(~/assets/fonts/ithrav3/ithraV3-medium.woff2) format("woff2"),url(~/assets/fonts/ithrav3/ithraV3-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ithra;
  src: url(~/assets/fonts/ithrav3/ithraV3-light.woff2) format("woff2"),url(~/assets/fonts/ithrav3/ithraV3-light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ithra;
  src: url(~/assets/fonts/ithrav3/ithraV3-bold.woff2) format("woff2"),url(~/assets/fonts/ithrav3/ithraV3-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

html,
body{
  overscroll-behavior-y: none;
}

.page{
  overscroll-behavior: initial;
}

*{
  outline: yellow;
  outline-style: solid;
  outline-width: 0px;
  outline-offset: 1px;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

