@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: ithra;
  src: url(~/assets/fonts/ithrav3/ithraV3-medium.woff2) format("woff2"),url(~/assets/fonts/ithrav3/ithraV3-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ithra;
  src: url(~/assets/fonts/ithrav3/ithraV3-light.woff2) format("woff2"),url(~/assets/fonts/ithrav3/ithraV3-light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: ithra;
  src: url(~/assets/fonts/ithrav3/ithraV3-bold.woff2) format("woff2"),url(~/assets/fonts/ithrav3/ithraV3-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

*{
  outline: yellow;
  outline-style: solid;
  outline-width: 0px;
  outline-offset: 1px;
}
html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
html,
body{
  overscroll-behavior-y: none;
  /* scroll-behavior: smooth; */

}
.page{
  /* overscroll-behavior: initial; */
}

main{
  -webkit-tap-highlight-color: transparent;
}




.page-enter-active,
.page-leave-active {
  transition: all 1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
  animation-duration: 200ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@keyframes change-bg-color {
  0% { background-color: #FBBF24; }
  25% { background-color: #3B82F6; }
  50% { background-color: #10B981; }
  75% { background-color: #EC4899; }
  100% { background-color: #FBBF24; }
}

.animate-bg {
  animation: change-bg-color 5s infinite;
}